<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="/lpc/nct6792d/control/0/plot" value="false" />
    <add key="/lpc/nct6792d/control/1/plot" value="false" />
    <add key="/lpc/nct6792d/control/2/plot" value="false" />
    <add key="/lpc/nct6792d/control/3/plot" value="false" />
    <add key="/lpc/nct6792d/control/4/plot" value="false" />
    <add key="/lpc/nct6792d/control/5/plot" value="false" />
    <add key="/intelcpu/0/load/1/plot" value="false" />
    <add key="/intelcpu/0/load/2/plot" value="false" />
    <add key="/intelcpu/0/load/3/plot" value="false" />
    <add key="/intelcpu/0/load/4/plot" value="false" />
    <add key="/intelcpu/0/load/0/plot" value="false" />
    <add key="/intelcpu/0/temperature/0/plot" value="false" />
    <add key="/intelcpu/0/temperature/1/plot" value="false" />
    <add key="/intelcpu/0/temperature/2/plot" value="false" />
    <add key="/intelcpu/0/temperature/3/plot" value="false" />
    <add key="/intelcpu/0/temperature/4/plot" value="false" />
    <add key="/intelcpu/0/clock/1/plot" value="false" />
    <add key="/intelcpu/0/clock/2/plot" value="false" />
    <add key="/intelcpu/0/clock/3/plot" value="false" />
    <add key="/intelcpu/0/clock/4/plot" value="false" />
    <add key="/intelcpu/0/power/0/plot" value="false" />
    <add key="/intelcpu/0/power/1/plot" value="false" />
    <add key="/intelcpu/0/power/2/plot" value="false" />
    <add key="/intelcpu/0/power/3/plot" value="false" />
    <add key="/intelcpu/0/clock/0/plot" value="false" />
    <add key="/ram/load/0/plot" value="false" />
    <add key="/ram/data/0/plot" value="false" />
    <add key="/ram/data/1/plot" value="false" />
    <add key="/atigpu/0/temperature/0/plot" value="false" />
    <add key="/atigpu/0/temperature/1/plot" value="false" />
    <add key="/atigpu/0/temperature/2/plot" value="false" />
    <add key="/atigpu/0/temperature/3/plot" value="false" />
    <add key="/atigpu/0/temperature/7/plot" value="false" />
    <add key="/atigpu/0/temperature/8/plot" value="false" />
    <add key="/atigpu/0/temperature/9/plot" value="false" />
    <add key="/atigpu/0/power/0/plot" value="false" />
    <add key="/atigpu/0/fan/0/plot" value="false" />
    <add key="/atigpu/0/control/0/plot" value="false" />
    <add key="/atigpu/0/clock/0/plot" value="false" />
    <add key="/atigpu/0/clock/1/plot" value="false" />
    <add key="/atigpu/0/voltage/0/plot" value="false" />
    <add key="/atigpu/0/load/0/plot" value="false" />
    <add key="/hdd/0/temperature/0/plot" value="false" />
    <add key="/hdd/0/load/0/plot" value="false" />
    <add key="/hdd/1/load/0/plot" value="false" />
    <add key="mainForm.Location.X" value="725" />
    <add key="mainForm.Location.Y" value="200" />
    <add key="mainForm.Width" value="470" />
    <add key="mainForm.Height" value="640" />
    <add key="/lpc/nct6792d/voltage/0/plot" value="false" />
    <add key="/lpc/nct6792d/voltage/1/plot" value="false" />
    <add key="/lpc/nct6792d/voltage/2/plot" value="false" />
    <add key="/lpc/nct6792d/voltage/3/plot" value="false" />
    <add key="/lpc/nct6792d/voltage/4/plot" value="false" />
    <add key="/lpc/nct6792d/voltage/5/plot" value="false" />
    <add key="/lpc/nct6792d/voltage/6/plot" value="false" />
    <add key="/lpc/nct6792d/voltage/7/plot" value="false" />
    <add key="/lpc/nct6792d/voltage/8/plot" value="false" />
    <add key="/lpc/nct6792d/voltage/9/plot" value="false" />
    <add key="/lpc/nct6792d/voltage/10/plot" value="false" />
    <add key="/lpc/nct6792d/voltage/12/plot" value="false" />
    <add key="/lpc/nct6792d/voltage/13/plot" value="false" />
    <add key="/lpc/nct6792d/voltage/14/plot" value="false" />
    <add key="/lpc/nct6792d/temperature/0/plot" value="false" />
    <add key="/lpc/nct6792d/temperature/2/plot" value="false" />
    <add key="/lpc/nct6792d/temperature/3/plot" value="false" />
    <add key="/lpc/nct6792d/temperature/4/plot" value="false" />
    <add key="/lpc/nct6792d/fan/1/plot" value="false" />
    <add key="/lpc/nct6792d/fan/2/plot" value="false" />
    <add key="/hdd/1/load/0/values" value="H4sIAAAAAAAEAFvF3R+3ouumBwPDgf+ZmktMGYDAaf5WRwC/pJvMGAAAAA==" />
    <add key="/lpc/nct6792d/control/expanded" value="true" />
    <add key="/lpc/nct6792d/fan/4/plot" value="false" />
    <add key="/atigpu/0/temperature/2/values" value="H4sIAAAAAAAEAPtn7xu3ouumBwPDgf8t8qmMDBDgxJeVxARhMjq53kKwP6jD2MxOenwwNoPT6UwEe+OiRCibyWlGaiJc/Ht6Ctyc+wXa7DB24LNkuJpduxF2re5AmJnJgdDLJ5kCN59HACGe/Rph15OLCL318QlwNfpXkez6h1ADAKII+h4IAQAA" />
    <add key="/atigpu/0/temperature/3/values" value="H4sIAAAAAAAEAPtn7xu3ouumBwPDgf8t8qmMDBDgxJeVxARhMjq53kKwP6jD2MxOenwwNoPT6UwEe+OiRCibyWlGaiJc3Kw/BW7OAk9tdhg78FkyXM2u3Qi7VncgzMzkQOjlk0yBm88jgBAvE0Kov7kKwa6PT4Cr0b+KZNc/hBoA3dqa7ggBAAA=" />
    <add key="/atigpu/0/temperature/4/values" value="" />
    <add key="/atigpu/0/temperature/5/values" value="" />
    <add key="/atigpu/0/temperature/6/values" value="" />
    <add key="/atigpu/0/temperature/7/values" value="H4sIAAAAAAAEAPtn7xu3ouumBwPDgf8t8qmMDBDgxJeVxARhMjq53kKwP6jD2MxOenwwNoPTwn4E+3ZNIpTN5DQjNREubtafAjdngac2O4wd+CwZrmbXboRdqzsQZmZyIPTySabAzZcxR4invUbYpXARoTcjIQGu5v9aJLv+IdQAAIaeEGQIAQAA" />
    <add key="/atigpu/0/temperature/8/values" value="H4sIAAAAAAAEAONP941b0XXTg4HhwP/iHymMDBDgxJeVxARhMjq53kKwP6jD2MxOWqYwNoPT0gwE+3ZNIpTN5DQjNREubtafAjdn9euP3DD2+vUIvakPk+Fq+CRT4ObImCP0pr1GmKlwEaE3IyEBrub/2mS4+K5/CDUAvxwt+/AAAAA=" />
    <add key="/atigpu/0/temperature/9/values" value="H4sIAAAAAAAEAONP941b0XXTg4HhwP8S+VRGBghwEstKYoIwGZ1sNiPYDP4wNrOTFB+MzeC0NAPBvr84EcpmcppilwgXN+tPgZuz+vVHbhh7/XqE3tSHyXA1fJIpcHNkzBF6014jzFS4iNCbkZAAV/N/bTJcfNc/hBoA3csjJPAAAAA=" />
    <add key="/atigpu/0/power/0/values" value="H4sIAAAAAAAEAONP941b0XXTg4HhwP8S+VRGBiCwttrlIJaVxARihwRvdvC5BWGnpW51+KAOYQcH7XKQ4oOwe7o3OyzNgLC3bd3qcH9xIpi9fds2B5VUCDsjY4fDsowUMPvFs30OG9akgdmZmQcd/u+E6LWz3erw8RFE/c4dBxzieCHqgwIPOhzZDVHz7s0WhxkdEDYP92aH1IfJYHZO9m4HPkmI+sCAEw4y5hD2x/f7HbKFIOr//d3roHURwt66ZY9DpGUCmL10yR6H/2sh5hw/ts1h1z+IGj/frQ4AZLxnMiABAAA=" />
    <add key="/atigpu/0/power/1/values" value="" />
    <add key="/atigpu/0/power/2/values" value="" />
    <add key="/atigpu/0/power/3/values" value="" />
    <add key="/atigpu/0/power/4/values" value="" />
    <add key="/atigpu/0/fan/0/values" value="H4sIAAAAAAAEAONP941b0XXTg4HhwP9Gt1RGBigIeF1vAmMDADWYkIUkAAAA" />
    <add key="/atigpu/0/clock/0/values" value="H4sIAAAAAAAEAONP941b0XXTg4HhwP+zU1IZGcBgmrOfzFEWGPuRfxITiLXDb5ozPx+EDRK/lhHMB2MfnZIIFudKn+bcG5kCV5Pw+Y44jA0ALLd2cmwAAAA=" />
    <add key="/atigpu/0/clock/1/values" value="H4sIAAAAAAAEAONP941b0XXTg4HhwP+zU1IZGcDghPPxI/UmMDYAOhj86iQAAAA=" />
    <add key="/atigpu/0/clock/2/values" value="" />
    <add key="/atigpu/0/voltage/0/values" value="H4sIAAAAAAAEAGvt9Y1b0XXTg4HhwP/wvFRGBiBgZHCwP36k3gTGBgCJlH0eJAAAAA==" />
    <add key="/atigpu/0/voltage/1/values" value="" />
    <add key="/atigpu/0/voltage/2/values" value="" />
    <add key="/atigpu/0/load/0/values" value="H4sIAAAAAAAEAGvt9Y1b0XXTg4HhwP/wvFRGBih41ObLB2M/EUtkgrAa7K6xpMLZE83TmGBq1p4PhKtvl0yBiis4yrXB2A0O5kcS4eJrLyRB2R0OoYYJUPYCe9VtyXAzX/2DqZngAAAor0fqqAAAAA==" />
    <add key="/atigpu/0/load/1/values" value="" />
    <add key="/atigpu/0/control/0/values" value="H4sIAAAAAAAEAGvt9Y1b0XXTg4HhwH9J91RGBihwOlJvAmMDAG/moQokAAAA" />
    <add key="/hdd/0/temperature/0/values" value="H4sIAAAAAAAEAJupWBC3ouumBwPDgf9VwodNGcDgkSMAOCVzMhgAAAA=" />
    <add key="/hdd/0/load/0/values" value="H4sIAAAAAAAEANueXxC3ouumBwPDgf8xRw+ZMgDBiX1djgBCXhVoGAAAAA==" />
    <add key="/ram/data/1/values" value="H4sIAAAAAAAEAJuxwCxuRddNDwaGA/8ZpgkxMQBByxENx0rHZDDblkPTUcEBwlb+o+G4nCkJzN56WcOx3g/CZjuu4fjtbiKY/eiEhuP+wxA22wcNxyVnIHqPNWo4GjikgNmGizQcS6ZB2LcSNRy1PkPYOmfUHacJQMz8dkHdcftWiDlHz6o7Bv+CiEtzaTh+fAMRj3bTcFR5kwpmf3io7viuH2LOxdlqjm8+QdQE+Ks5qkhA9C6YouZYcwjCvnNKzfFpBIQ94baaI9N0iPqT+eqOe3ghbv7+Tt0RAPCG3oEgAQAA" />
    <add key="/atigpu/0/temperature/0/values" value="H4sIAAAAAAAEAPtn7xu3ouumBwPDgf8rfqYwMkCA0/2MJCYIk9HJ+RaC/VUdxmZ2UuODsRmcfDMQ7B+LE6FsJqf7PYlw8e/pKXBz7hdos8PYrvuT4WqOPULYFZ2IMHOnPkIvn2QK3PzWV8lw8ccvEXZVXkLo/dmaAFejfxVh165/CDUAgloFdQgBAAA=" />
    <add key="/atigpu/0/temperature/1/values" value="H4sIAAAAAAAEAPtn7xu3ouumBwPDgf8rfqYwMkCA0/2MJCYIk9EpgDEZzn7BABNndjIzhbEZnGwdEewfixOhbCan+z2JcPHv6Slwc+4XaLPD2K77k+Fqjj1C2Lu6A2FmJgdCL59kCtz81lcIt30SQKh/chHBro9PgKvRv4qwa9c/hBoAh7/iOQgBAAA=" />
    <add key="/intelcpu/0/load/2/values" value="H4sIAAAAAAAEAFu/STVuRddNDwaGA/95DJoZGYCg8VCnI0NBEhOIbfimybHrJoTN0KDkmOQIYy9yfCYBZTukOypEQdkHohy/bUuEsBVmOib5QdkO5xwPz0sBs0WsjzvqxKeB2V2ynY6WjMlg9psljx2PxkHYDAk7HJmYoWYuuO4o1gARP/3nuuPRaIg4y9QoR8lTEPGNwQ8c33BBzFe/5uC0OyoFas4rx7TpCDfUHICa+WC14/l5CVC/7HbcDNXLsOCDY8eFJDgbADTFT+ogAQAA" />
    <add key="/intelcpu/0/load/3/values" value="H4sIAAAAAAAEAFu/STVuRddNDwaGA/95DJoZGYBAX2KaI0NBEhOIfVY03bHrJoTN0GDtmOQIYy9yfCYBZSs0OCpEIdjftiVC2TMdk/ygbIYTjofnpYDZ6t/uOOrEp4HZ83Y0OVoyJoPZZU0rHI/GQdgMDyY5MjHD7LriKNYAEZ8VsNXxaDREfHOZqaPkKYi4n85BxzdcUPOnWTntjkqB602bDnXDgn2ONQeS4G47Py8Batdqx81QvQwO5xw7LkDVfGB3AgDrvab9IAEAAA==" />
    <add key="/intelcpu/0/load/4/values" value="H4sIAAAAAAAEAFu/STVuRddNDwaGA/95DJoZGYCg5O5tR4aCJCYQ22/vUseumxA2Q0OuY5IjlK2wyfGZBIw901EhCspOaHP8ti0Rwn6w2jHJD8a+63h4XgqYfTTvmaNOfBrEfJ4eR0vGZAj7zAXHo3HJUHN2ODIxQ81keOgo1gARf1O61fFoNEzcw1HyFEQ8qf2Z4xsuiPn+OU5Ou6NSoG477Zg2HeqGhIuONQegeg/0O56flwB3/2aoXgaGE44dF2DmizkBAPaZgucgAQAA" />
    <add key="/intelcpu/0/temperature/0/values" value="H4sIAAAAAAAEAJMX14pb0XXTg4HhwP85p+sYGcDA1ImhIIkJwlZz6roJYys6JTnC2MpOzyRgbAUnhSgYW97p27ZEKFvOKckPxlZ3OjwvBcrWdtKJT4OyVZwsGZOhbFWno3HJcPOZmJPg4mINyXAzj0bDxGWcJE8lw932hgtmvp7T7qgUuN606Ylwt9UcgOlVcjo/LwGudzNcr7JTxwWEHwFvzcoyIAEAAA==" />
    <add key="/intelcpu/0/temperature/1/values" value="H4sIAAAAAAAEAJMX14pb0XXTg4HhwP85p+sYGcDAyul2aRIThK3utP4yjK3mlOQIY2s7nVSAsVWdbINgbGWnb9sSoWxFpyQ/GFvP6fC8FChbx0knPg1uviVjMpSt4nQ0LhluJhMzzExNJ7EGmLiC09FomLick+QphN43XDDzLZ12R8HYhk63lyTC3c++GeGv8/MS4OYfM0yBu790JUyNrhMAK3YdvSABAAA=" />
    <add key="/intelcpu/0/temperature/2/values" value="H4sIAAAAAAAEAJMX14pb0XXTg4HhwP85p+sYGcBAz+l2ZRIThK3ktP48jC3jlOSIED+lAmNLOxmxHmGBsZP8EqHiOk6H56VA2dpOtm1pULaCk8YtmF45p6NxyXA2EzNMXN5JrAEmLul0NBomLuokeQomrugk2pACt2vSU5i4htPtJTA3yDqxXUS480JDApQt5XTMMAVufulKmBp1JwBW44c6FAEAAA==" />
    <add key="/intelcpu/0/temperature/3/values" value="H4sIAAAAAAAEAJMX14pb0XXTg4HhwP85p+sYGcBAzelRbRIThC3utOI0jC3qlOQIY0s5ndZAqBGOQaiRW5oIZQs6JfnB2ApOh+elwNm2bWlw9Ut+wPQKOXk6JEPZIk5MzDBxCSexBpg4v9PRaJg4r5PJR5i4sBN7A8x8VafEZzBxaaf/NYlwNZWXYXoFnGLrEuD2HjNMgZtfuhKmRs4JAF0+qxwgAQAA" />
    <add key="/intelcpu/0/temperature/4/values" value="H4sIAAAAAAAEAJMX14pb0XXTg4HhwP85p+sYGcDAxulVYxIThK3ptOA4jK3mtDcdxtZxymNDiEvHwNjKThILE6FsJackPxjbwOnwvBQoW9/Jti0NylZ3WvIDplfVydMhGS7OxAwT13ASa4CJKzodjYaJKziZfEyGu5O9AWa+pVPis2S4Xf9rEuHurLycBDc/ti4Bzj5mCNOr4lS6MgnuZgDIZB0OIAEAAA==" />
    <add key="/intelcpu/0/clock/0/values" value="H4sIAAAAAAAEAJMX14pb0XXTg4HhwP92pQ5GBiDIZDjhdD8jiQnEVgCynW9B2MpA9ld1CFsFyFbjg7CVgGzfDIT4j8WJYLYiyJweCFsNyP6engJX//5yGpytnZsEV39UH2GO6/5kuL3HHiHURCci3LNTPwWunk8SYX7rq2S4+scvE+FqKi8h9P5sTYCr17+KUL/rH0SNKpANAOXUEe8gAQAA" />
    <add key="/intelcpu/0/clock/1/values" value="H4sIAAAAAAAEAJMX14pb0XXTg4HhwH8rpkZGBiAobrB2tYtMYgKxFRg8XFzvQ9jKQPY8FwhbNeGiS8PzRDBbrKHT5UgsRFwFqObnXoi4IpBd2gZhK3+wdLXpTIGYqWDkemh9GpitvuC6C//kJLj6pZIQthpQXKMrGWIm0K553BC2xIKlLq2dCPc8NoeYqQVU3/4EokYJaNcPU4i4tIOM6+kuiBs0FZ64bOeEmulwzkUgMwGi/sBBF+vbEHF5h60u2rIQtoyCpCsAOb7pTCABAAA=" />
    <add key="/intelcpu/0/clock/2/values" value="H4sIAAAAAAAEAJMX14pb0XXTg4HhwH/5hGZGBiDIWsDjylOYxARiyxxY4ZJ6C8JWZvBwkdeFsJUW7HNZ8SgRzBZr6HTxqoKIqwDVzFkIEVcEqV8MYSt/sHQ9nJECZksc4HfVupwGZmslvHKZkZEEV7/SEMJWW3DdxWZWMpitAVSjzg1hyymcdrlaiHBPsBbETC2geiNOCFupwdrVVwDClptg4LphPsQNmgpPXJ58hrrT4ZzLw+oEiPoDB10YPkLMl3fY6iL5Bep3BUlXAIRmj/4gAQAA" />
    <add key="/intelcpu/0/clock/3/values" value="H4sIAAAAAAAEAJMX14pb0XXTg4HhwP/L61oZGYDATeG0i8HkJCYQW+bAChfvzRC2MoOHi6QbhK20YJ/Low+JEDUPVrt8rIeIqwDV6HZDxBWB7EObIWzlD5auEuEpYLbEAX5Xxqh0MFuKQcz1yzmEegtzqPkPjric3JkMZqsduOVymRPCVlB44mIUhXDPczOImVoLrrus/AxRowS0K+w/hC03wcA1/yLEfE2g3pCrUHc6nHPZ1JcAUX/goEvSTah6oL2/xZOh/hJyBQCESVLQIAEAAA==" />
    <add key="/intelcpu/0/clock/4/values" value="H4sIAAAAAAAEAJMX14pb0XXTg4HhwP92pQ5GBiDIb8h1uZ+RxARiKzM8dHG+BWFrAMW/qkPYSgv2uajxQdkMHi6+UPUqQPaPxYlgtiKQfb8HwlZ94OL6PT0FzJY4wO/6/nIamK1wwcxVOzcJrv6oPtTMB0dcXPcng9lqC667HHsEERdr6HSJToS5zcNlpz7ETC2gmosiELZSg7XroXcQvXITDFwfv4S6p2G3S+UlqDsdzrn8bE2AqD9w0EX/KlQ90N5d/yBqZB4IuQIA58fbKiABAAA=" />
    <add key="/intelcpu/0/power/0/values" value="H4sIAAAAAAAEAJMX14pb0XXTg4HhwP92pQ5GBiBQbCl2vJ+RxARiq+wXcHS+BWGnredy/KoOYRfleDmq8UHY/w9zOvpC1auH8zj+WJwIZt+qEXO83wNhq1qvdvyengJmC55a7fj+chqY/WeNgqN2LkTvxvXJjkf1Iex/oeaOrvuTwewLZxocjz2CiPsxSztGJ0LYVg7/HHbqQ8zc01bryCcJYV9Z9NKx9RVE76E3nY6PX0LcsOFjtmPlJYjeC+aWjj9bE8DsAwu8HfWvQtT/UbZ23PUPomae9jJHALWqYlYgAQAA" />
    <add key="/intelcpu/0/power/1/values" value="H4sIAAAAAAAEAJMX14pb0XXTg4HhwP92pQ5GBiAQWnTE4X5GEhOIrVv+zN75FoStkLHf/qs6hL1Ya4aDGh+EnfFrj70vVL2e7w37H4sTwew9rzkd7vdA2C92ezp+T08Bs/fzeDm+v5wGZl/Q1XPQzoXo/R900eGoPoRtr13l4Lo/Gcz+d+2bw7FHEHEbPTGH6EQI+9iMDvud+hAzNd/+cuCThLBT1s1zbH0F0ctdz+X4+CXEDXe6zjlUXoLoFRYuc/jZmgBmH14200H/KkT9w+gqh13/IGq0K+0dAaoLZkMgAQAA" />
    <add key="/intelcpu/0/power/2/values" value="H4sIAAAAAAAEAJMX14pb0XXTg4HhwP92pQ5GBihQt2gwgbEBJDXsHSQAAAA=" />
    <add key="/intelcpu/0/power/3/values" value="H4sIAAAAAAAEAJMX14pb0XXTg4HhwP92pQ5GBiBQ/yLocD8jiQnEju77b+98C8IWdPpp/1Udwv73hMtBjQ/Cdm36Y+8LVT+t7o/9j8WJYHbMGwaH+z0Q9ikRKYfv6Slg9ue7kg7vL6eB2RujGR20cyF69aS4HI7qQ9jzH7A7uO5PBrNXsEk4HHsEET/5mskhOhHCXtL53n6nPsTM/7sFHfgkIWyW34YOra8gesPz5B0ev4S44SuvgkPlJYjeiQclHH62JoDZQackHfSvQtRLRwo77PoHUcN7TMYBAPV4lG8gAQAA" />
    <add key="/ram/load/0/values" value="H4sIAAAAAAAEAJtUaRa3ouumBwPDgf9se4WYGIBgVwW7U6VjMpg9hY/dScEBwu5RZHdazpQEZr9KYHeq94Owz5SwO327mwhmPypkd9p/GMLuMGF3WnIGojf8IbuTgUMKmN22jt2pZBqEnSDM4aT1GcL+85fDaZoAxMyqbxxO27dCzKn6zeEU/Atq7xwOp49voOJ2HE4qb1LB7Hu3OZze9UPM4bjN5fTmE0TN5yBuJxUJiF7/Z1xONYcgbN+JXE5PIyBsuXIuJ6bpEPWn+zid9vBC3FxynMMJADWn5SsgAQAA" />
    <add key="/ram/data/0/values" value="H4sIAAAAAAAEAJuxwCxuRddNDwaGA/8ZpgkxMQCBxZ01DpWOyWD2sZA1DgoOEPavnDUOy5mSwOxre9c41PtB2CbX1zh8u5sIZtdcXuOw/zCEbdK6xmHJGYjeLYlrHQwcUsDsewprHUqmQdg9C9c6aH2GsF+cWecwTQBiZsjhdQ7bt0LM2XZynUPwL4g4V+A6h49vIOJdN9Y6qLxJBbMTFq5zeNcPMWee7kaHN58gahYc2+igIgHRy2Cz0aHmEITdcX6Dw9MICFth3QYHpukQ9eta1zvs4YW4Oah9nQMA1o9HKiABAAA=" />
    <add key="/lpc/nct6792d/voltage/2/values" value="H4sIAAAAAAAEAFuU+yR2RddNDwaGA//vzopmYgCCWTMjHaInH2OBsWUVk8DighGRDptOJ4LZa2WiHCRdIeIqtyMdItckwtl/O5LB7A6xSIfHqSlwvZuPpcDFRV8hxGf+ToSz0yZA2MpAc25rJMPFGR4lwt1mvisVbo7vNg12GFv8KMKdvC1JcDX6rAi9jNMRZgIAJiS0ffwAAAA=" />
    <add key="/lpc/nct6792d/voltage/3/values" value="H4sIAAAAAAAEAFuU+yR2RddNDwaGA//vzopmYgCCDrFIB7kVGYowtvmuVLD4/ysRDhe6UuBqLgr48cHYAO0QJrBIAAAA" />
    <add key="/lpc/nct6792d/voltage/4/values" value="H4sIAAAAAAAEAFuU+yR2RddNDwaGA//vzopmYgACVbZG+29/G0xgbADGFnevJAAAAA==" />
    <add key="/lpc/nct6792d/voltage/5/values" value="H4sIAAAAAAAEAFuU+yR2RddNDwaGA//vzopmYgACjjUx9iUiyWA2J5D9vA7CltaPtZdVTIKLbzqdCGdLuibB1bxJ7OOEsUVfpcDVzPydCFfjuPMIC4zN8AhhjvmuVLga320a7DC2+FGEvbwtCLsM5iDMAQCZ6cqGzAAAAA==" />
    <add key="/lpc/nct6792d/voltage/6/values" value="H4sIAAAAAAAEAFuU+yR2RddNDwaGA//vzopmYgCC/fOj7EtEksFsj4dW9s/rIOw7P+3sZRWTwOxpzt72m04ngtn/r1jYS7pCxHOfW9tHroGIW3Q62v/tgOjdemKa/ePUFDDbwTTOfvMxCLvlgJe96CsIWyjC0n7mb4jeBVL59mkTIOxls13sb2tAzIlOsbZneAQRjwKyzXelgtkTDpXaX+hKgbq5yl5gG8Q9wTvi7HNLIepnzYy0Fz8KEY/b5WnP2wJhy0al2OuzQtQUZwTaM05Phrqn0h4AinZAzCABAAA=" />
    <add key="/lpc/nct6792d/voltage/7/values" value="H4sIAAAAAAAEAFuU+yR2RddNDwaGA//vzopmYgCCtTJRDnIrMhRhbPNdqWBx5duRDhe6UuBqLgr48cHYAGQ+2B1IAAAA" />
    <add key="/lpc/nct6792d/voltage/8/values" value="H4sIAAAAAAAEAFuU+yR2RddNDwaGA//vzopmYgCC1R+DHL79bTCBsQGt3u2SJAAAAA==" />
    <add key="/lpc/nct6792d/voltage/9/values" value="H4sIAAAAAAAEANsz5Unsiq6bHgwMB/4fLo5mYgACL54m+29/G0xgbAB3a0q3JAAAAA==" />
    <add key="/lpc/nct6792d/voltage/10/values" value="H4sIAAAAAAAEANsz5Unsiq6bHgwMB/4fLo5mYgACE+PNdiUiyWA213Vlu+d1EPaEQ6V2sopJYDb39cV2m04ngtmZE9/aSrpCxKdItNhFroGIP7uwyO5vB0QvW6Oo/ePUFDA78ekFu83HIOw/KwvtRF9B2KpsjXYzf0P0Vr1Us0+bkAh3z20NiDniN/3sGB4lwt1mvisVzP6mIWN/oQtmjqO9wDaIezYUvbDLLYWot9rCYS9+FCKuxsZoz9sCYQfvkLPXZ4WoOXeGx55xOsSu+F2c9gCScGh6IAEAAA==" />
    <add key="/lpc/nct6792d/voltage/11/values" value="" />
    <add key="/lpc/nct6792d/voltage/12/values" value="H4sIAAAAAAAEANsz5Unsiq6bHgwMB/4fnhXNxAAEXjxN9t+uNZjA2ADe7YaFJAAAAA==" />
    <add key="/lpc/nct6792d/voltage/13/values" value="H4sIAAAAAAAEANsz5Unsiq6bHgwMB/4fnhXNxAAEJ8vs7L9dazCBsQH+PEp9JAAAAA==" />
    <add key="/lpc/nct6792d/voltage/14/values" value="H4sIAAAAAAAEANsz5Unsiq6bHgwMB/4fnhXNxAAEm+e+t/92rcEExgYAg2izhCQAAAA=" />
    <add key="/lpc/nct6792d/temperature/0/values" value="H4sIAAAAAAAEANsz5Unsiq6bHgwMB/4fnhXNxAACDXpOJW+ToGx1p+d1yRA2g7qTrGISnL3pdCKUreIk6QoTV3KKXAMTV3b62wHTa+70ODUFaqaO0+ZjKXBzRF+lwNXP/A3V26DhlDYBZo6q020NmDmKTgyPYGrkncx3pcLNvNAFM9/MSWAbzP1aTrmlMPVqTuJHk+Bm8rbA1Kg66bPC1Cg7MU5PhocDAL9bDKsgAQAA" />
    <add key="/lpc/nct6792d/temperature/1/values" value="" />
    <add key="/lpc/nct6792d/temperature/2/values" value="H4sIAAAAAAAEADu9+0nsiq6bHgwMB/5vKY5mYgADdqeSt0lQNpvT87pkuLisIkycw2nT6US4uKQrQjxyTSKc/bcDofdxagqcvflYClyN6CsEe+ZvhJlpExDm3NZAmMPwCCFuvisVLr6AxZ8Pxmacngx3PwCPn/rc5AAAAA==" />
    <add key="/lpc/nct6792d/temperature/3/values" value="H4sIAAAAAAAEADu9+0nsiq6bHgwMB/5vKY5mYgADbqeSt0lQtrLT87pkKFvaSVYRJq7otOl0IpSt4STpChNXdYpcAxMXdfrbAdO7xPFxagqUzeG0+VgK3C7RVzC2itPM3zC9XE5pE2BsYafbGjBzlJwYHiXC3Wa+KxXKvuZ4oQtmzgVHgW0w9zA75ZbC1Is7iR9NgrN5W5LgdumzwtQIOjFOh9n1whEAhzxOQiABAAA=" />
    <add key="/lpc/nct6792d/temperature/4/values" value="H4sIAAAAAAAEADu9+0nsiq6bHgwMB/5vKY5mYgCDBU4lb5Mg7IZjTs/rkqHie51kFaHiDGucNp1OhKp56CTpClN/zSlyDVScYanT3w6Y3ganx6kpUDVTnTYfg7IZJjuJvoKxjzvN/A3T2+6UNgFmfqfTbQ2oOQ17neYcnMIMUbPOiXdyKlQ9h9PidpheM6ekeTB3Zjg5tsPYIU5TzWDsBKc0JZi9VU4OfxOgbEcnAH2raeYUAQAA" />
    <add key="/lpc/nct6792d/temperature/5/values" value="" />
    <add key="/lpc/nct6792d/temperature/6/values" value="" />
    <add key="/lpc/nct6792d/fan/0/values" value="H4sIAAAAAAAEADu9+0nsiq6bHgwMB/5vKY5mYoCCb9caTGBsANkN39okAAAA" />
    <add key="/lpc/nct6792d/fan/1/values" value="H4sIAAAAAAAEADu9+0nsiq6bHgwMB/5vKY5mYgACu8o6l5K3SWD2kV/lLs/rksHsA0C2rCJEXEOuwmXT6UQw22ZluYukK0TcTqjCJXINRLzocbnL3w6I3jIg+3FqCpj9obzRZfMxCHvK0woX0VcQtuT7cpeZvyF69x8od0mbAGE7AM2/rQExp8mnwoXhEUT89PVyF/NdqWD2byD7QhfEHMG6CheBbRD3GMRVuuSWQtSrAc0XP5oEZ/O2QNjuERUu+qwQNVpAccbpELs2zy13AQBB5exRIAEAAA==" />
    <add key="/lpc/nct6792d/fan/2/values" value="H4sIAAAAAAAEADu9+0nsiq6bHgwMB/5vKY5mYgCC15PaXEreJoHZNpztLs/rksHsx7/aXGQVIeLMe9pdNp1OBLNZJ7S7SLpCxO8ZtrtEroGINwp0uPztgOgtYmp3eZyaAmZfj+1w2XwMwuZtbXcRfQVhKxW2u8z8DdFrca/NJW0ChH3kVLvLbQ2IOXOftbkwPIKIR25vczHflQpm62W2u1zogphjzdThIrAN4p5azjaX3FKI+htR7S7iRyHixYvaXXhbIOzCk20u+qwQNWYr210Yp0PsqgfaBQDj7D+VIAEAAA==" />
    <add key="/lpc/nct6792d/fan/3/values" value="H4sIAAAAAAAEADu9+0nsiq6bHgwMB/5vKY5mYoCCb9caTGBsANkN39okAAAA" />
    <add key="/lpc/nct6792d/fan/4/values" value="H4sIAAAAAAAEADu9+0nsiq6bHgwMB/5vKY5mYgACoaMtLiVvk8DsTRktLs/rksHsqSebXWQVIeJtK5tcNp1OBLMfsba4SLpCxKdua3KJXAMRr9nT7PK3A6KXjafF5XFqCpitZNTssvkYhO2r1uIi+grC1qtudpn5OxFuftoECFvJr8XltgbEHA7fZheGRxDx2u/NLua7UsHs9KYWlwtdEHOEnjS5CGyDuMfQssUltxSifvPjZhfxoxDxrXLNLrwtEHY7kK3PClGzlKXZhXE6xC7mj00uAI0PHlUgAQAA" />
    <add key="/lpc/nct6792d/fan/5/values" value="H4sIAAAAAAAEALv+6Ensiq6bHgwMB/6v8IlmYoCCb9caTGBsAFfvIGwkAAAA" />
    <add key="/lpc/nct6792d/control/0/values" value="H4sIAAAAAAAEAHvM+TR2RddNDwaGA//nqEYzMQBBT88ax5K3SWD2o4cTHZ/XJYPZz5+1OcoqQsQvX+py3HQ6ES4u6QoR37qlxDFyTSKc/bcDoldDY4bj49QUMFtPd6vj5mMQtpFRk6PoKwh7/fp6x5m/IXr//KpyTJsAYVdWdDje1kiGm8nwCCJeUpzsaL4rFcxmYChwvNAFMScqapGjwDaIe1hZpzrmliLMET+aBHczbwuEfeRws6M+K8LNjNMhdjk6djoCAM2pHFwgAQAA" />
    <add key="/lpc/nct6792d/control/1/values" value="H4sIAAAAAAAEAPtg8DR2RddNDwaGA//7/0UxMQBBT88ax5K3SWD2o4cTHZ/XJYPZz5+1OcoqQsQvX+py3HQ6ES4u6QoR37qlxDFyTSKc/bcDoldDY4bj49QUMFtPd6vj5mMQtpFRk6PoKwj7968qx5m/IXr/ANlpEyDsyooOx9sayXAzGR5BxEuKkx3Nd6WC2QwMBY4XuiDmREUtchTYBnEPK+tUx9xSiHonx05H8aNJcDfztkDYRw43O+qzItzMOB1ilyNQPQBoKMkkIAEAAA==" />
    <add key="/lpc/nct6792d/control/2/values" value="H4sIAAAAAAAEAPtg8DR2RddNDwaGA//7/0UxMYBBgdO3aw0mMDYA4gWvTSQAAAA=" />
    <add key="/lpc/nct6792d/control/3/values" value="H4sIAAAAAAAEAPtg8DR2RddNDwaGA//7/0UxMYBBgdO3aw0mMDYA4gWvTSQAAAA=" />
    <add key="/lpc/nct6792d/control/4/values" value="H4sIAAAAAAAEAOOKeBq7ouumBwPDgf+l16OYGMCgwOnbtQYTGBsAqdDtqSQAAAA=" />
    <add key="/lpc/nct6792d/control/5/values" value="H4sIAAAAAAAEAOOKeBq7ouumBwPDgf+l16OYGIDA3Nzd6du1BhMYGwC5vm7gJAAAAA==" />
    <add key="/intelcpu/0/load/0/values" value="H4sIAAAAAAAEAFu/STVuRddNDwaGA/95DJoZGYBAc/1VR4aCJCYQe9LHLseumxA2Q4O1Y5IjlB2wyvGZBJQ9o9VRIQrKVqh1/LYtESo+zzHJD8o+ccLx8LwUMNv/yGVHnfg0MLtsV6ejJWMymO0XctDxaByEzTBhgyMTM9TMBdcdxRog4o4TdjgejYaIl6yyc5Q8BRF/c+WM4xsuiPldreZOu6NSoG644Jg2HeqGirOONQegZm6Y5Xh+XgKE3bHScTNUL8OER44dF6BqZDidAKMqf7cgAQAA" />
    <add key="/intelcpu/0/load/1/values" value="H4sIAAAAAAAEAFu/STVuRddNDwaGA/95DJoZGYDArknXiaEgiQnEfjqx37HrJoTN0KDkmOQIZStscnwmARPvdFSIgrIT2hy/bUuEsB3mOCb5QdkM6x0Pz0sBs60LjzjqxKeB2Uns/Y6WjMlgdlfsCsejcRA2w4J9jkzMMDMvOoo1QMQ31c53PBoNERebp+QoeQoi7uez2vENF8T8LlsFp91RKVC9OxzTpkPdsOC6Y80BqJkM0xzPz0uAii913AzVy7CB0YlpJVSNAZ8TABsNG/sgAQAA" />
    <add key="plotPanel.MinTimeSpan" value="0" />
    <add key="plotPanel.MaxTimeSpan" value="600" />
    <add key="plotPanel.MinVoltage" value="NaN" />
    <add key="plotPanel.MaxVoltage" value="NaN" />
    <add key="plotPanel.MinClock" value="NaN" />
    <add key="plotPanel.MaxClock" value="NaN" />
    <add key="plotPanel.MinTemperature" value="NaN" />
    <add key="plotPanel.MaxTemperature" value="NaN" />
    <add key="plotPanel.MinLoad" value="NaN" />
    <add key="plotPanel.MaxLoad" value="NaN" />
    <add key="plotPanel.MinFan" value="NaN" />
    <add key="plotPanel.MaxFan" value="NaN" />
    <add key="plotPanel.MinFlow" value="NaN" />
    <add key="plotPanel.MaxFlow" value="NaN" />
    <add key="plotPanel.MinControl" value="NaN" />
    <add key="plotPanel.MaxControl" value="NaN" />
    <add key="plotPanel.MinLevel" value="NaN" />
    <add key="plotPanel.MaxLevel" value="NaN" />
    <add key="plotPanel.MinFactor" value="NaN" />
    <add key="plotPanel.MaxFactor" value="NaN" />
    <add key="plotPanel.MinPower" value="NaN" />
    <add key="plotPanel.MaxPower" value="NaN" />
    <add key="plotPanel.MinData" value="NaN" />
    <add key="plotPanel.MaxData" value="NaN" />
    <add key="plotPanel.MinSmallData" value="NaN" />
    <add key="plotPanel.MaxSmallData" value="NaN" />
    <add key="plotPanel.MinThroughput" value="NaN" />
    <add key="plotPanel.MaxThroughput" value="NaN" />
    <add key="treeView.Columns.Sensor.Width" value="250" />
    <add key="treeView.Columns.Value.Width" value="100" />
    <add key="treeView.Columns.Min.Width" value="100" />
    <add key="treeView.Columns.Max.Width" value="100" />
    <add key="listenerPort" value="8085" />
    <add key="/lpc/nct6792d/voltage/1/values" value="H4sIAAAAAAAEAFuU+yR2RddNDwaGA//vzopmYgCCKRIt9jvvRurC2LwtSWBx7uvN9vqsiXA1jNOT4WwAXPsYbUgAAAA=" />
    <add key="/lpc/nct6792d/voltage/0/values" value="H4sIAAAAAAAEAFuU+yR2RddNDwaGA//vzopmYgACuagU+xKRZDDb4G6KPcuCoyww9qbTiWBxp4RUe0nXJDg7ck0iXP3fDojen8HJ9o9TU+Dim48h2KKvUuB6Z/5OhKtPm4Aw57ZGMlwNwyOEuPmuVDCb+3qy/YUuiDlXfJPsBbYlwc1psTrCAmPztkDEeYDq9VkT4XoZp0PM5wKyAafiXAQIAQAA" />
  </appSettings>
</configuration>